@import 'tailwindcss';

@layer base {
  * {
    border-color: theme('colors.gray.200');
  }
  
  .dark * {
    border-color: theme('colors.slate.800');
  }
  
  body {
    background-color: theme('colors.background-light');
    color: theme('colors.text-main');
    font-family: 'Inter', sans-serif;
  }
  
  .dark body {
    background-color: theme('colors.background-dark');
    color: white;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

@theme {
  --color-primary: #13ecec;
  --color-primary-dark: #0d9488;
  --color-background-light: #f7f7f7;
  --color-background-dark: #f7f7f7;
  --color-sage: #4c9a9a;
  --color-forest: #0d3333;
  --color-text-main: #0d1b1b;
  
  --font-display: Inter, sans-serif;
}
